.navbar{
    position: fixed ;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .9rem;
    width: 97.5%;
    align-items: center;
    margin-bottom: 1rem;
    background-image: linear-gradient(90deg , rgba(#087956,1)15%,rgba(black,.9)15%);
    &_logo_box{//container box for the logo
        background-color: #087956;
        transition: all .5s;
        &:hover{
            transform: scale(1.15);
        }
    }
    &_logo{//the image of the logo
        height:5rem;
        width: 13rem;
    }
    &_navigation{//the container for navigation list
        padding: 1rem;
        &_list{//the list holding the items
            
            &-item{//the individual list items
                display: inline-block;
                color: white;
                margin-right: 3rem;
                transition:all .6s;
            }
        }
    }
    &_link,&:visited{
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        padding:.5rem 2rem .5rem 2rem;
        border: 1px solid ;
        transition: all .5s;
        &:hover{
            color: white;
            background-color:red;
            border: none;
            padding:.5rem 3rem 3rem 3rem;
            box-shadow: 2px 2px whitesmoke;
        }
      
    }
    &_logout{//container box for the logout button
        padding: 1rem;
        order: 3;
        &_btn,&:visited{//the actual logout button
            color: red;
            padding: .5rem;
            border: 1px solid;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .5s;

            &:hover{
                padding-left: 8rem;
                padding-top: 2rem;
                transition: scale(1.1);
                background-color: rgba(red,.8);
                border: none;
                font-style: bold;
                color: white;
            }
        }
    }

}