@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  font-family: "Nunito", sans-serif;
}

.navbar {
  position: relative;
  margin: 1rem;
  border-bottom: 1px solid;
}

.navbar_logo-box {
  position: absolute;
}

.navbar_logo {
  height: 5rem;
  width: 13rem;
}

.navbar_navigation {
  position: absolute;
  left: 12%;
  top: 3%;
  margin-left: 15rem;
}

.navbar_list {
  list-style: none;
  margin-right: auto;
  margin-left: auto;
}

.navbar_list_item {
  display: inline-block;
  margin-left: 3rem;
}

.navbar_list_item:last-child {
  margin-left: 30rem;
}

.navbar_links {
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
}

.menu {
  padding: 2rem;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: rgba(153, 153, 153, 0.2);
}

.menu_options {
  list-style: none;
  border: 1px solid;
  background-color: rgba(0, 0, 0, 0.9);
}

.menu_meals {
  display: inline-block;
  padding: 1rem;
  width: 8rem;
  margin-right: 5px;
  color: white;
}

.menu_list {
  padding: 2rem;
  margin-top: -15px;
  list-style: none;
  background-color: rgba(255, 255, 0, 0.3);
  border-radius: 10px;
}

.menu_list_item {
  box-shadow: 4px 2px 5px 2px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 1rem;
  background-image: linear-gradient(-105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 0%), url("/images/pizza_banner2.jpg");
}

.menu_heading {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
  font-size: 1.5rem;
  color: red;
}

.menu_item {
  height: 26rem;
  padding: 2rem;
}

.menu_item_image {
  height: 26rem;
  margin: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s;
}

.menu_item_image:hover {
  transform: scale(1.1);
}

.menu_item_name {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 7px;
  color: red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.5s;
}

.menu_item_name:hover {
  border-bottom: 3px solid green;
  transform: scale(1.5);
}

.menu_item_price {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  color: green;
  text-align: left;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 9px;
}

.menu_item_description {
  border-radius: 5px;
  padding: 1rem;
  text-align: left;
  text-transform: uppercase;
  color: green;
  font-weight: 50;
  letter-spacing: 2px;
  word-spacing: 2px;
  transition: all 0.5s;
  margin-bottom: 2rem;
}

.menu_item_description:hover {
  box-shadow: 1px 1px 3px 1.5px rgba(0, 0, 0, 0.2);
  color: red;
}

.menu .btn_customize_order {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.8rem 3rem;
  width: 10rem;
  background-color: white;
  color: rgba(255, 0, 0, 0.6);
  box-shadow: 1px 1px 3px 1.5px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  transition: all 0.5s;
}

.menu .btn_customize_order:hover {
  box-shadow: 7px 4px 7px 2.5px rgba(0, 0, 0, 0.6);
  transform: translate(2rem);
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row:not(:last-child) {
  margin-bottom: 6rem;
}

.row [class^=col-] {
  float: left;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/2);
}

.row .col-1-of-2:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-3 {
  width: calc((100% - 2*6rem)/3);
}

.row .col-1-of-3:not(:last-child) {
  margin-right: 6rem;
}

.row .col-2-of-3 {
  width: calc(2*((100% - 2*6rem)/3) + 6rem);
}

.row .col-2-of-3:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-4 {
  width: calc((100% - 3*6rem)/4);
}

.row .col-1-of-4:not(:last-child) {
  margin-right: 6rem;
}

.row .col-2-of-4 {
  width: calc(2*((100% - 3*6rem)/4) + 6rem);
}

.row .col-2-of-4:not(:last-child) {
  margin-right: 6rem;
}

.row .col-3-of-4 {
  width: calc(3*((100% - 3*6rem)/4) + 2 * 6rem);
}

.row .col-3-of-4:not(:last-child) {
  margin-right: 6rem;
}

.btn_option {
  border: none;
  margin-right: 2rem;
  width: 10rem;
  padding: 0.4rem;
  color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  border-right: 1px solid;
}

